/*EXTERNOS*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* ANIMACIONES */

.efectos__img:hover .galeria__img {
    cursor: pointer;
    transition: all .5s ease-in-out;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.nav-item :hover {
    text-decoration: underline .3em #f8afc9;
    color: #0d0106;
}

.boton:hover {
    background-color: #8f2d56;
    transition-duration: .4s;
}

.botonInvertido:hover {
    background-color: #8f2d56;
    transition-duration: .4s;
}

#guardarDatosBtn:hover {
    background-color: #8f2d56;
    transition-duration: .4s;
}

#botonCarrito:hover {
    background-color: #8f2d56;
    transition-duration: .4s;
}

/* NORMALIZACIÓN */
h5 {
    display: flex;
    justify-content: center;
}

body {
    background-color: #fbf4e0;
    color: #0d0106;
}

form {
    background-color: #f8afc9;
    margin: .5em;
    border-radius: .5em;
    padding: .7rem;
    color: #fff8f0;
}

a {
    text-decoration: none;
    color: #fff8f0;
}

p {
    margin: .2rem;
}

/*HADER*/
.logo {
    display: flex;
    justify-content: center;
}

.logo__image {
    width: 16em;
    cursor: pointer;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* NAV */
#colorBlack {
    color: #0d0106;
    font-weight: bold;
    font-family: Nunito;
    padding-right: 5rem;
}

#styleUl {
    margin-bottom: 0;
}

/*MAIN*/
.tituloProductos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: .5rem;
    margin: .5rem;

}

.articleEstilo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 4rem;
}

.tituloForm {
    font-family: Nunito;
    align-content: center;
}

.boxConsulta {
    font-family: "Open Sans";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.inputs {
    background-color: #fff8f0;
    font-family: "Open Sans";
    border-radius: .5em;
    border: 2px solid transparent;
}

/* SECTION */
.productosEstilos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    align-content: center;
    align-items: center;
    border-color: #8f2d56;
    background-color: #fff8f0;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5em;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tituloCard {
    font-family: Nunito;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0%;
    color: #0d0106;
}

.imgCard {
    width: auto;
    height: 20em;
    border-radius: .5em;
    margin: .5rem;
}

.precioCard {
    text-align: center;
    font-family: "Open Sans";
}

.lineaCard {
    text-align: center;
    font-family: "Open Sans";
}

.esmalteCard {
    text-align: center;
    font-family: "Open Sans";
}

#colorP {
    color: #0d0106;
}

/* FOOTER */
#footerStyle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #8f2d56;
}

.boxDarkMode {
    display: flex;
    flex-direction: row;
}

.darkMode {
    background-color: #1e1e24;
    color: #fff8f0;
}

.lightMode {
    background-color: #fff8f0;
    color: #0d0106;
}

/* CARRITO */
#styleMensajeCarrito {
    font-family: Nunito;
    color: #0d0106;
}

#styleImporte {
    color: #0d0106;
}

#color-modal {
    color: #0d0106;
}

#exampleModalLabel {
    color: #0d0106;
}

/* BOTONES */
.boxBotonesBusqVer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btnBoxForm {
    display: flex;
    flex-direction: row;
}

.boton {
    font-family: Nunito;
    background-color: #0d0106;
    font-size: 1em;
    color: #fff8f0;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.botonInvertido {
    font-family: Nunito;
    background-color: #0d0106;
    font-size: 1em;
    color: #fff8f0;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.botonCarrito {
    font-family: Nunito;
    background-color: #0d0106;
    font-size: 1em;
    color: #fff8f0;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

#botonCarrito {
    background-color: #1e1e24;
    border-color: #1e1e24;
}

#guardarDatosBtn {
    font-family: Nunito;
    background-color: #0d0106;
    font-size: 1em;
    color: #fff8f0;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.estiloBtnCarrito {
    width: 5em;
    margin: 1rem;
}

/* HOME */
.cuerpo {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .cuerpo__texto {
      text-align: center;
      font-weight: normal;
      font-size: 2.4em;
      font-family: "Open Sans";
      padding-left: 5rem;
      padding-right: 5rem; }
    .cuerpo__img {
      width: 55em;
      height: auto; }

/* SOBREMI */
.sobremi {
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-content: center; }
    .sobremi__texto {
      text-align: center;
      font-weight: normal;
      font-size: 2.4em;
      font-family: "Open Sans";
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      margin-top: 1.5rem; }
    .sobremi__picture {
      align-items: center; }
    .sobremi__img {
      width: 50em;
      height: auto; }
    .sobremi__img-presentacion {
      width: 5em;
      height: 5em;
      border-radius: 10em; }

/* GALERIA */
.galeria {
    font-size: 62.5%;
    width: 100%;
    height: 15em; }
    .galeria__titulo {
      display: flex;
      justify-content: center;
      align-items: center; }
    .galeria__presentacion {
      margin-left: 3rem;
      margin-right: 3rem; }
    .galeria__h2 {
      display: flex;
      justify-content: center;
      align-content: center;
      font-weight: bold;
      background-color: #8f2d56;
      font-family: "Open Sans";
      font-size: 1.5em;
      color: #fdfff7;
      border-radius: .5em;
      padding: 1rem; }
    .galeria__fotos {
      padding-bottom: 1rem; }
    .galeria__img {
      width: auto;
      height: 15em;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-radius: .5em; }
    .galeria__fila-1 {
      display: flex;
      justify-content: space-around;
      align-content: center;
      background-color:#fbf4e0;
      margin-left: 3rem;
      margin-right: 3rem;
      margin-bottom: 1rem;
      border-radius: .5em; }
    .galeria__fila-2 {
      display: flex;
      justify-content: space-around;
      align-content: center;
      background-color: #fbf4e0;
      margin-left: 3rem;
      margin-right: 3rem;
      border-radius: .5em; }

/* CONTACTO */
.contacto {
    font-size: 62.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
    
.contacto__informacion {

      text-align: center;
      font-weight: normal;
      font-size: 2.4em;
      font-family: "Open Sans";
      padding:1rem;
      margin: 1rem;
      padding-top: 5rem;
 }

.contacto__texto {
   
      text-align: center;}

.contacto__form {
      color: #fdfff7;
      background-color: #f8afc9;
      font-family: "Open Sans";
      font-size: 1.5em;
      border-radius: .5em;
      padding: 1rem;
      margin:1rem;}

.contacto__botones {
      display: flex;
      font-weight: bold;
      font-family: "Open Sans"; }


  .img__contacto {
    height: 30em;
    width: 100%; }

    .tituloFormContacto{
        font-size: 2em;
        text-align: center;
        padding: .5rem;
        margin: .5rem;
        text-decoration: underline #f8afc9 .2em;
    }