/*Externos*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fdfff7;
}

p {
    margin: .2rem;
}

.imputs {
    background-color: #fdfff7;
    font-family: "Open Sans";
    border-radius: .5em;
    border: 2px solid transparent;
}

.boton {
    font-family: Nunito;
    background-color: #0d0106;
    font-size: 1em;
    color: #fdfff7;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.botonCarrito {
    font-family: Nunito;
    background-color: #0d0106;
    font-size: 1em;
    color: #fdfff7;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.tituloForm {
    font-family: Nunito;
    align-content: center;
}

#guardarDatosBtn {
    font-family: Nunito;
    background-color: #0d0106;
    font-size: 1em;
    color: #fdfff7;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

form {
    background-color: #f8afc9;
    margin: .5em;
    border-radius: .5em;
    padding: 1em;
}

.boxConsulta {
    background-color: #fbf4e0;
    font-family: "Open Sans";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.botonCarrito:hover {
    background-color: #f8afc9;
    transition-duration: .4s;
}

.headerEstilo {
    background-color: #fbf4e0;
}

#tituloPrincipal {
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: underline .2em #f8afc9;
    font-family: Nunito;
    padding: 2rem;
}

.mainEstilo {
    background-color: #fbf4e0;
}

.productosEstilos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    align-content: center;
    align-items: center;
    border-color: #f8afc9;
    background-color: #fdfff7;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5em;
}

.tituloCard {
    font-family: Nunito;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0%;
}

.imgCard {
    width: auto;
    height: 20em;
    border-radius: .5em;
    margin: .5rem;
}

.precioCard {
    text-align: center;
    font-family: "Open Sans";
}

.lineaCard {
    text-align: center;
    font-family: "Open Sans";
}

.esmalteCard {
    text-align: center;
    font-family: "Open Sans";
}