/*Externos*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    background-color: #f8afc9;
    border-radius: .2rem;
    font-family: Nunito;
    padding: .2rem;
}

a :hover {
    filter: saturate(180%);
    ;
}

.headerEstilo {
    background-color: #fbf4e0;
}

#tituloPrincipal {
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: underline .2em #f8afc9;
    font-family: Nunito;
    padding: 2rem;
}

.mainEstilo {
    background-color: #fbf4e0;
}

.productosEstilos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    align-content: center;
    align-items: center;
    border-color: #f8afc9;
    background-color: #fdfff7;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5em;
}

.tituloCard {
    font-family: Nunito;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0%;
}

.imgCard {
    width: auto;
    height: 20em;
    border-radius: .5em;
    margin: .5rem;
}

.precioCard {
    text-align: center;
    font-family: "Open Sans";
}

.lineaCard {
    text-align: center;
    font-family: "Open Sans";
}

.esmalteCard {
    text-align: center;
    font-family: "Open Sans";
}