/*Externos*/
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#color-modal {
    color: #0d0106;
}

#exampleModalLabel {
    color: #0d0106;
}

#colorP {
    color: #0d0106;
}

body {
    background-color: #fbf4e0;
    color: #0d0106;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    padding-left: 20rem;
}

.logo__image {
    width: 15em;
    cursor: pointer;
}

.boxDarkMode {
    display: flex;
    flex-direction: row;
}

.darkMode {
    background-color: #1e1e24;
    color: #fff8f0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #fff8f0;
}

p {
    margin: .2rem;
}

.inputs {
    background-color: #fff8f0;
    font-family: "Open Sans";
    border-radius: .5em;
    border: 2px solid transparent;
}

.boxTituloBoton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.estiloBtnCarrito {
    width: 5em;
    margin: 1rem;
}

.boton {
    font-family: Nunito;
    background-color: #8f2d56;
    font-size: 1em;
    color: #fff8f0;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.botonCarrito {
    font-family: Nunito;
    background-color: #8f2d56;
    font-size: 1em;
    color: #fff8f0;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

.tituloForm {
    font-family: Nunito;
    align-content: center;
}

#guardarDatosBtn {
    font-family: Nunito;
    background-color: #8f2d56;
    font-size: 1em;
    color: #fff8f0;
    border-radius: .5em;
    padding: .5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid transparent;
}

#guardarDatosBtn:hover {
    background-color: #1e1e24;
    transition-duration: .4s;
}

form {
    background-color: #8f2d56;
    margin: .5em;
    border-radius: .5em;
    padding: 1em;
}

.boxConsulta {
    font-family: "Open Sans";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.botonCarrito:hover {
    background-color: #1e1e24;
    transition-duration: .4s;
}

.boton:hover {
    background-color: #1e1e24;
    transition-duration: .4s;
}

#styleImporte {
    color: #0d0106;
}

#tituloPrincipal {
    color: #8f2d56;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Nunito;
    padding: 2rem;
    font-weight: bolder;
}

.productosEstilos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#botonCarrito {
    background-color: #1e1e24;
    border-color: #1e1e24;
}

#botonCarrito:hover {
    background-color: #8f2d56;
    transition-duration: .4s;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: solid;
    align-content: center;
    align-items: center;
    border-color: #8f2d56;
    background-color: #fff8f0;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5em;
}

.tituloCard {
    font-family: Nunito;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0%;
}

.imgCard {
    width: auto;
    height: 20em;
    border-radius: .5em;
    margin: .5rem;
}

.precioCard {
    text-align: center;
    font-family: "Open Sans";
}

.lineaCard {
    text-align: center;
    font-family: "Open Sans";
}

.esmalteCard {
    text-align: center;
    font-family: "Open Sans";
}

.mainEstilo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 4rem;
}

.btnBoxForm {
    display: flex;
    flex-direction: row;
}

#styleMensajeCarrito {
    color: #0d0106;
}